In [2]:
%reload_ext sql
%sql postgresql+psycopg2://localhost:5432/db_performance

In [3]:
%%sql

select * from students

 * postgresql+psycopg2://localhost:5432/db_performance
5 rows affected.

[(1, 'John', 'Doe', 21, 1),
 (2, 'Jane', 'Smith', 22, 2),
 (3, 'Mark', 'Twain', 20, 1),
 (4, 'Emily', 'Dickinson', 22, 3),
 (5, 'Louisa', 'Alcott', 21, 2)]

In [4]:
%%sql

EXPLAIN ANALYZE SELECT * FROM students;

 * postgresql+psycopg2://localhost:5432/db_performance
3 rows affected.

[('Seq Scan on students  (cost=0.00..10.70 rows=70 width=1044) (actual time=0.038..0.039 rows=5 loops=1)',),
 ('Planning Time: 0.092 ms',),
 ('Execution Time: 0.258 ms',)]

Exercise 1
Write a simple SELECT query to retrieve all students who are younger than 25 years old and measure its execution time using the EXPLAIN ANALYZE command in PostgreSQL.

Exercise 2 â€“ a more complex query
Write a SELECT query using a JOIN to retrieve all students and their associated course name.

In [6]:
%%sql
--Excercise 1
EXPLAIN ANALYZE SELECT * FROM students where age < 25

 * postgresql+psycopg2://localhost:5432/db_performance
4 rows affected.

[('Seq Scan on students  (cost=0.00..10.88 rows=23 width=1044) (actual time=0.013..0.015 rows=5 loops=1)',),
 ('  Filter: (age < 25)',),
 ('Planning Time: 0.062 ms',),
 ('Execution Time: 0.206 ms',)]

In [10]:
%%sql
-- Exercise 2 
EXPLAIN ANALYZE
SELECT * 
FROM students 
JOIN courses 
ON students.course_id = courses.id;

 * postgresql+psycopg2://localhost:5432/db_performance
7 rows affected.

[('Hash Join  (cost=11.57..24.20 rows=70 width=1564) (actual time=0.007..0.008 rows=0 loops=1)',),
 ('  Hash Cond: (courses.id = students.course_id)',),
 ('  ->  Seq Scan on courses  (cost=0.00..11.40 rows=140 width=520) (actual time=0.006..0.007 rows=0 loops=1)',),
 ('  ->  Hash  (cost=10.70..10.70 rows=70 width=1044) (never executed)',),
 ('        ->  Seq Scan on students  (cost=0.00..10.70 rows=70 width=1044) (never executed)',),
 ('Planning Time: 0.247 ms',),
 ('Execution Time: 0.051 ms',)]